{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produitcommande</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produitCommande.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produitCommande.prix }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ produitCommande.marque }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produitcommande_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produitcommande_edit', { 'id': produitCommande.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
